/* Importing Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

:root {
  /* Colors */
  --white-color: #fff;
  --dark-color: #252525;
  --primary-color: #3b141c;
  --secondary-color: #f3961c;
  --light-pink-color: #faf4f5;
  --medium-gray-color: #ccc;
  /* Font size */
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;
  /* Font weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  /* Border radius */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;
  /* Site max width */
  --site-max-width: 1300px;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
  background-color: none;
}

.sec-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: var(--site-max-width);
}

.section-content {
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
  max-width: var(--site-max-width);
}


img {
  width: 100%;
}

.section-title {
  text-align: center;
  padding: 60px 0 10px;
  text-transform: uppercase;
  font-size: var(--font-size-xl);
}

.section-title::after {
  content: "";
  width: 80px;
  height: 3px;
  margin: 10px auto 0;
  display: block;
  border-radius: var(--border-radius-s);
  background-color: var(--secondary-color);
}

header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: var(--primary-color);
  /* border-bottom: 1px solid #fff; */
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
}

header .navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--site-max-width);
}

.navbar .nav-logo .logo-txt {
  color: #fff;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu .nav-link {
  color: var(--white-color);
  padding: 10px 18px;
  color: var(--white-color);
  border-radius: var(--border-radius-m);
  transition: all 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.navbar .nav-menu {
  display: flex;
  gap: 10px;
}

.hero-sec {
  min-height: 100vh;
  background-color: var(--primary-color);
}

.hero-sec .sec-content {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: space-between;
  padding-top: 40px;
  color: var(--white-color);
}

.hero-sec .hero-details .title {
  font-size: var(--font-size-xl);
  color: var(--secondary-color);
  font-family: "Miniver", sans-serif;
}

.hero-sec .hero-details .subtitle {
  margin-top: 8px;
  max-width: 70%;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}

.hero-sec .hero-details .desc {
  font-size: var(--font-size-m);
  max-width: 70%;
  margin: 24px 0 40px;
}

.hero-details .btns {
  display: flex;
  gap: 23px;
}

.hero-details .btns .buttons {
  padding: 10px 26px;
  color: var(--primary-color);
  border-radius: var(--border-radius-m);
  background-color: var(--secondary-color);
  border: 2px solid transparent;
  font-weight: var(--font-weight-medium);
  transition: all 0.3s ease;
}

.hero-details .btns .buttons:hover,
.hero-details .btns .contact-us {
  color: var(--white-color);
  border-color: var(--white-color);
  background-color: transparent;
}

.hero-details .btns .contact-us:hover {
  color: var(--primary-color);
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
}

.hero-sec .hero-image-wrapper {
  max-width: 500px;
  margin-right: 30px;
}


.about-sec {
  padding: 120px 0;
  background: var(--light-pink-color);

}

.about-sec .sec-content {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}

.about-sec .about-image-wrapper .about-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: var(--border-radius-circle);
}

.about-sec .about-details {
  max-width: 50%;
}

.about-details .about-details .section-title {
  padding: 0;
}

.about-sec .about-details .text {
  line-height: 30px;
  margin: 50px 0 30px;
  text-align: center;
  font-size: var(--font-size-m);

}

.about-sec .social-link-list {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.about-sec .social-link-list .socaial-link {
  color: var(--primary-color);
  font-size: var(--font-size-l);
  transition: all 0.3s ease;
  padding: 5px 10px;
  border-radius: 50px;
}

.about-sec .social-link-list .socaial-link:hover {
  color: var(--secondary-color);
  background-color: #3b141c;
}

.menu-section {
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 50px 0 30px;
}

.menu-section .sec-content {
  margin-top: 30px;
}

.menu-section .menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  align-items: center;
  justify-content: center;
}

.menu-section .menu-list .menu-item {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: calc(100% / 4 - 60px);
}

.menu-section .menu-list .menu-item .manu-image {
  max-width: 100%;
  aspect-ratio: 1;
  margin-bottom: 15px;
  object-fit: contain;
}

.navbar :where(#menu-close-button, #menu-open-button) {
  display: none;
}

.menu-section .menu-list .menu-item .name {
  margin: 12px 0;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-semibold);
}

.menu-section .sec-content .menu-list .menu-item p {
  font-size: 15px;
  font-weight: 100;

}

.testimo-section {
  padding: 50px 0 100px;
  background-color: var(--light-pink-color);
}

.testimo-section .testimo {
  display: flex;
  align-items: center;
  padding: 35px;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.testimo-section .testimo .user-img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  margin-bottom: 50px;
  border-radius: 50%;
}

.testimo-section .testimo .name {
  margin-bottom: 16px;
  font-size: var(--font-size-m);
}

.testimo-section .testimo .feed {
  line-height: 25px;
  text-align: center;
}

.swiper-pagination {
  margin-top: 20px;
  position: relative;

}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #3b141c !important;


}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px;
  color: #fff;
  padding: 10px 15px;
  background-color: #3b141c;
  border-radius: 50px;
  transition: all 0.3s ease;

}

.gallery-section {
  padding: 50px 0 100px;
}

.gallery-section .sec-content {
  margin-top: 50px;
}

.gallery-section .gallery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gallery-section .gallery-list .gallery-item {
  width: calc(100% / 3 - 32px);
  overflow: hidden;
  border-radius: var(--border-radius-s);
}

.gallery-section .gallery-list .gallery-img {
  width: 100%;
  height: 100%;
  cursor: zoom-in;
  transition: 0.3s ease;
}

.gallery-section .gallery-list .gallery-img:hover {
  transform: scale(1.3);
}
.contact-section{
  background-color: var(--light-pink-color);
  padding: 50px 0 100px;
}
.contact-section .section-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}
.contact-section .contact-info-list .contact-info{
  display: flex;
  gap: 20px;
  margin: 20px 0;
  align-items: center;
}
.contact-section .contact-info-list .contact-info i{
  font-size: var(--font-size-m);
}
.contact-section .contact-form .form-input{
  width: 100%;
  height: 50px;
  padding: 0 20px;
  outline: none;
  margin-bottom: 16px;
  background: var(--white-color);
  border: 1px solid var(--medium-gray-color);

}
.contact-section .contact-form .form-input:focus{
  border-color: var(--secondary-color);

}

.contact-section .contact-form textarea.form-input{
  height: 100px;
  resize: vertical;
  padding: 15px;
}

.contact-section .contact-form{
  max-width: 50%;
}
.contact-section .contact-form .submit-button{

padding: 12px 26px;
text-align: center;
background-color: var(--primary-color);
color: var(--white-color);
font-size: var(--font-size-s);
border-radius: 50px;
font-weight: var(--font-weight-medium);
}
.footer-section{
  padding: 20px 0;
  background-color: var(--dark-color);
}
.social-link-list a{
  color: var(--white-color);
}
.footer-section :where(.copyright-text, .policy-link, .socaial-link){
  color: var(--white-color);
}
.footer-section .social-link-list {
  display: flex;
  gap: 25px;
}
.footer-section .social-link-list .socaial-link{
  font-size: var(--font-size-l);
  color: var(--white-color);
}
.footer-section .social-link-list .socaial-link:hover{
color: var(--secondary-color);
}

.footer-section .section-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* @media screen and (max-width:900px) {
  .menu-section .menu-list{
    gap: 50px;
  }
  .menu-section .menu-list .menu-item{
    width: calc(100% / 2 - 30px);
  }
  
} */

@media screen and (max-width:900px) {

  :root {
    --font-size-m: 1rem;
    --font-size-l: 1rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
  }


  body.show-mobile-menu header::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.2);
  }

  .navbar :where(#menu-close-button, #menu-open-button) {
    display: block;
    font-size: var(--font-size-l);
    color: #000;
  }

  .navbar #menu-close-button {
    position: absolute;
    right: 30px;
    top: 30px;
  }

  .navbar .nav-menu {
    display: block;
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    transition: all 0.3s ease;
  }


  body.show-mobile-menu .navbar .nav-menu {
    left: 0;
  }

  .navbar .nav-menu .nav-link {
    color: var(--dark-color);
    font-size: var(--font-size-l);
    display: block;
    margin-top: 10px;
  }

  .hero-sec .sec-content {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 50px 20px 20px;
  }

  .hero-sec .hero-image-wrapper {
    max-width: 270px;
    margin-right: 0;
  }

  .hero-sec .hero-details :is(.subtitle, .desc),
  .about-sec .about-details {
    max-width: 100%;

  }

  .hero-sec .hero-details .btns {
    justify-content: center;
  }

  .about-sec {
    padding: 50px 0;
    background: var(--light-pink-color);

  }

  .about-sec .sec-content {
    gap: 10px;
    flex-direction: column;
  }

  .about-sec .about-image-wrapper .about-image {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
  }

  .about-sec .about-image-wrapper .about-image {
    width: 100%;
    height: 100%;
    max-width: 200px;
    aspect-ratio: 1;
  }

  .menu-section .menu-list {
    gap: 30px;
  }

  .menu-section .menu-list .menu-item {
    width: calc(100% / 2 - 30px);
  }

  .menu-section .menu-list .menu-item .menu-image {
    max-width: 250px;
  }

  
.gallery-section .gallery-list .gallery-item {
  width: calc(100% / 2 - 30px);
  overflow: hidden;
  border-radius: var(--border-radius-s);
}
.contact-section .section-content{
  align-items: center;
  flex-direction: column-reverse;
  gap: 20px;
}
.contact-section .contact-form{
  max-width: 80%;
}

}